<div class="password-page">
  <div *ngIf="!isResetMode;else resetPassMode">
    <div class="head-error-center" [ngClass]="{'error-show': errorMessage}">
      <h1 class="head-main head-bold">
        <span *ngIf="!isSent">Forgot Password?</span>
        <span *ngIf="isSent">Email sent!</span>
      </h1>

      <fmp-error
        *ngIf="errorMessage"
        class="error-center"
        [text]="errorMessage">
      </fmp-error>

    </div>
    <div *ngIf="!isSent" class="text-content">
      <p>Enter your email address and we will send you instructions to reset your password.</p>
    </div>
    <div *ngIf="isSent" class="text-content">
      <p>Check your {{sentEmail}} inbox for instructions from us on how to reset your password.</p>
    </div>
    <form class="form-xs" *ngIf="modelForm && !isSent" [formGroup]="modelForm" (submit)="sendEmail()">
      <p [ngClass]="{'error-show': fm.email}">

        <fmp-error
          *ngIf="fm?.email"
          class="error-field"
          [text]="fm.email"
          (onErrorClick)="closeError('email')">
        </fmp-error>

        <input type="text"
               class="form-control-border-blue"
               formControlName="email"
               placeholder="Email">
      </p>
      <button type="submit"
              [disabled]="isRequestSending"
              class="btn btn-md btn-primary btn-border-anim">
        <span>Send</span>
      </button>
    </form>
  </div>
  <ng-template #resetPassMode>
    <div class="head-error-center" [ngClass]="{'error-show': errorMessage}">
      <h1 class="head-main head-bold">Reset Password</h1>

      <fmp-error
        *ngIf="errorMessage"
        class="error-center"
        [text]="errorMessage"
        (onErrorClick)="closeError('main')">
      </fmp-error>

    </div>
    <form class="form-xs form-reset" *ngIf="resetModelForm" [formGroup]="resetModelForm" (submit)="resetPassword()">
      <p [ngClass]="{'error-show': fm.password}">

        <fmp-error
          *ngIf="fm?.password"
          class="error-field"
          [text]="fm.password"
          (onErrorClick)="closeError('password')">
        </fmp-error>

        <input type="password"
               class="form-control-border-blue"
               formControlName="password"
               placeholder="New Password">
      </p>
      <p [ngClass]="{'error-show': fm.confirm_password}">

        <fmp-error
          *ngIf="fm?.confirm_password"
          class="error-field"
          [text]="fm.confirm_password"
          (onErrorClick)="closeError('confirm_password')">
        </fmp-error>

        <input type="password"
               class="form-control-border-blue"
               formControlName="confirm_password"
               placeholder="Confirm Password">
      </p>
      <button type="submit" [disabled]="isRequestSending"
              class="btn btn-primary btn-border-anim">
        <span>Change My Password</span>
      </button>
    </form>
  </ng-template>
</div>