@import '../../styles/custom/variables';

.password-page {
  padding: 50px 10px;
  text-align: center;

  @media (min-width: 450px) {
    padding: 50px 0;
  }

  @media (min-width: $point) {
    padding: $header-height-desk + 172px 0 100px;
  }

  h1 {
    margin-bottom: 73px;
  }

  .text-content {
    margin-bottom: 35px;
    padding: 0 10px;

    @media (min-width: 730px) {
      margin-bottom: 56px;
      font-size: 1.111rem;
    }

    p {
      margin-bottom: 10px;

      @media (min-width: $point) {
        margin-bottom: 0;
      }
    }
  }

  form {
    button[type="submit"] {
      margin-top: 40px;

      @media (min-width: $point) {
        margin-top: 63px;
      }
    }

    &.form-reset {
      button[type="submit"] {
        margin-top: 27px;
        padding: 0 15px;
        font-size: 1.222rem;
        height: 55px;
        width: auto;
        border-radius: 26px;

        @media (min-width: 440px) {
          font-size: 1.667rem;
          padding: 0 35px;
          height: 67px;
          border-radius: 31px;
        }
      }
    }
  }

  .btn-md {
    width: auto;
    min-width: 265px;

    @media (max-width: 400px) {
      font-size: 22px;
    }
  }
}