<div #element class="article-author-bottom-holder circle-icon-line-holder">
  <div class="article-author-bottom">
    <img src="../../../../assets/images/mike_podesto.jpg">
    <div class="author-text">
      <p>Mike Podesto and the Find My Profession team have helped hundreds of people just like you get the 6-figure career they deserve.</p>
      <br>
      <p>If you are interested in working with the <a href="https://www.findmyprofession.com/">#1 Career Finder Service in the world</a> to win the attention of hiring managers and start landing more interviews, <a href="mailto:help@findmyprofession.com">send me an email</a> now to discuss next steps.</p>
      <br>
      <p><a href="https://www.linkedin.com/in/mike-podesto/">Follow me on LinkedIn</a> for more career advice.</p>
    </div>
  </div>
</div>