@import '../../../../styles/custom/variables';
.tally-added-day {
  text-align: center;
  height:  30px;
  margin-top: 10px;
  span {
    font-size: 20px;
  }
  .green-title {
    color: $green;
  }
  .yg-title {
    color: $yellow_orange;
  }
  .red-title {
    color: $red;
  }

}
.updates {
  padding: 32px 8px 32px 18px;
  font-size: 0.889rem;

  @media (min-width: 700px) {
    padding: 20px 3%;
    font-size: 1rem;
  }
  @media (min-width: $point) {
    font-size: 1.111rem;
  }
  @media (min-width: $point-lg) {
    padding: 40px 71px;
  }

  li {
    position: relative;
    padding-left: 40px;
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 19px;

      @media (min-width: 700px) {
        margin-bottom: 25px;
      }
      @media (min-width: $point-lg) {
        margin-bottom: 32px;
      }
    }
  }

  .updates-icon {
    color: $brand-secondary;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}