<section class="blog-article box-light-reg">
  <div class="range-slider" data-slider>
    <span #topsliderspan class="range-slider-active-segment"></span>
    <input type="hidden">
  </div>
  <div #boxLight class="box-light-content container">
    <div #boxArticleContent class="article-bg-content">
      <h1 class="head-main blog_text_center_set" *ngIf="article?.title" [innerHTML]="article.title"></h1>
      <div class="article-img">
        <img [src]="article?.image" [alt]="article?.image_alt || article?.title">
      </div>
      <div class="article-content">
        <div class="like-sharing">
          <div #sharingBlock class="like-sharing-items">
            <fmp-like-icon-component
                [isArticle]="true"
                [isLiked]="isArticleLike"
                (onToggle)="toggleArticleLike($event)" style="position: absolute;">
            </fmp-like-icon-component>

            <fmp-article-share-links-component
                [articleUrl]="article?.url"
                [articleDescription]="article?.description"
                [articleImageUrl]="article?.image"
                [articleTitle]="article?.title">
            </fmp-article-share-links-component>
          </div>
        </div>
        <div class="text-content clearfix" *ngIf="article?.content" [innerHTML]="article?.content | safeHtml"></div>

        <div class="author-top-articles" #articleAuthorElement>
            <article-author-component 
                [author]="article?.author">
            </article-author-component>
            <div #articlesBlock class="author-top-articles-aside">
              <fmp-article-top-articles-component
                  [articles]="topArticles"
                  (onArticleOpen)="openArticle($event)">
              </fmp-article-top-articles-component>
            </div>
          <div #resumeBlock class="resume-upload-aside" [ngClass]="{'top_article_margin_top': !articleAuthorShow}">
            <fmp-resume-upload-component></fmp-resume-upload-component>
          </div>
        </div>
      </div>
      <subscribe-to-article-component #subscribeBlock></subscribe-to-article-component>
      <article-author-bottom #articleAuthorBottomBlock [author]="article?.author"></article-author-bottom>

    </div>
  </div>
</section>

<div class="container-md">

  <articles-cards-component
    [articles]="cardArticles"
    (onArticleOpen)="openArticle($event)"
    (onArticleLike)="toggleListArticleLike($event)">
  </articles-cards-component>

  <a [routerLink]="['/career-advice']"
     class="btn btn-light-outline-blue btn-center" (click)="openAllArticles($event)" (touchstart)="linkTapedHandler($event)">
    See All Articles
  </a>
</div>