@import "../../../styles/custom/variables";

$file-path1: '../../../../../assets/images';

.payment-info-holder {
    $media-point: 550px;
    $mob-input-padding: 13px;

    @media (min-width: $point) {
        .input-label {
            display: block;
            font-size: 1.111rem;
        }
    }

    .card-number {

        input {
            padding-left: $mob-input-padding;
        }

        span {
            display: none;
        }

        @media (min-width: $point) {
            display: flex;
            justify-content: space-between;

            .input-label {
                display: flex;
                align-content: center;
                align-items: center;
            }

            span {
                line-height: 1.444rem;
            }

            p {
                flex: 1;
            }
        }
    }

    .title {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 24px;
        text-align: left;

        @media (min-width: $point) {
            font-size: 1.889rem;
            margin-bottom: 28px;
        }
    }

    .payment-information {
        .pinfo_field {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            span {
                align-self: center;
            }

            input, .country {
                width: 80%;
            }

            .state {
                display: flex;
                justify-content: space-between;
                width: 100%;

                input {
                    width: 58%;

                    @media (max-width: 768px) {
                        width: 80%;
                    }
                }

                .pCode {
                    width: 80%;
                }
            }
            .zip {
                display: flex;
                justify-content: space-between;
                width: 100%;

                input {
                    width: 58%;

                    @media (max-width: 768px) {
                        width: 80%;
                        margin-top: 20px;
                    }
                }

                .pCode {
                    width: 80%;
                }
            }

            ngx-stripe-card {
                width: 80%;
                border-style: solid;
                border-width: 1px;
                border-color: #EDF6F9;
                border-radius: 5px;
                box-shadow: 1px 1px lightgrey;
                padding-left: 3px;
            }
        }

        .month-year-holder {
            .year-holder {
                width: 25%;
                margin-left: 10px;
            }

            .month-holder {
                width: 25%;
            }
        }

        .expire-holder {
            input {
                width: 60%;
            }
        }

        #country {
            display: flex;
            align-items: center;
        }

        #country select {
            padding: 0 15px 0 30px;
        }

        #country::before {
            display: inline-flex;
            content: "";
            width: 21px;
            height: 15px;
            background: url(src/assets/images/flags.svg);
            background-position: -1000px -1000px;
            background-repeat: no-repeat;
            margin-left: 4px;
            position: absolute;
        }
        #country {
            &.at::before {
                background-position: -165px -10px;
            }
            &.au::before {
                background-position: -196px -10px;
            }
            &.be::before {
                background-position: -227px -10px;
            }
            &.br::before {
                background-position: -351px -10px;
            }
            &.ca::before {
                background-position: -382px -10px;
            }
            &.ch::before {
                background-position: -475px -10px;
            }
            &.cn::before {
                background-position: -41px -35px;
            }
            &.de::before {
                background-position: -134px -35px;
            }
            &.dk::before {
                background-position: -196px -35px;
            }
            &.es::before {
                background-position: -320px -35px;
            }
            &.eu::before {
                background-position: -351px -35px;
            }
            &.fi::before {
                background-position: -382px -35px;
            }
            &.fr::before {
                background-position: -413px -35px;
            }
            &.gb::before {
                background-position: -475px -35px;
            }
            &.hk::before {
                background-position: -41px -60px;
            }
            &.ie::before {
                background-position: -196px -60px;
            }
            &.it::before {
                background-position: -351px -60px;
            }
            &.jp::before {
                background-position: -444px -60px;
            }
            &.lu::before {
                background-position: -258px -85px;
            }
            &.mx::before {
                background-position: -475px -85px;
            }
            &.nl::before {
                background-position: -103px -110px;
            }
            &.no::before {
                background-position: -134px -110px;
            }
            &.nz::before {
                background-position: -165px -110px;
            }
            &.pt::before {
                background-position: -413px -110px;
            }
            &.se::before {
                background-position: -103px -135px;
            }
            &.sg::before {
                background-position: -134px -135px;
            }
            &.us::before {
                background-position: -475px -135px;
            }
        }
    }

    .expire-date-holder {

        margin-bottom: 5px;
        display: flex;

        @media (min-width: $point) {
            margin-bottom: 20px;

            .input-label {
                display: flex;
                position: static;
                align-items: center;
            }
        }

        @media (min-width: 1300px) {
            margin-bottom: 50px;
        }

        p {
            margin-bottom: 0;
        }
        span {
            margin-bottom: 2px;
        }

        .month-year-holder {
            flex: 1;
            margin-right: 5px;

            @media (min-width: $media-point) {
                display: flex;
                align-items: center;
            }
            @media (min-width: $point) and (max-width: 1350px)  {
                display: inline-block;

                .input-label {
                    width: auto;
                }
            }

            span {
                display: block;
            }

            p {
                display: inline-block;
                width: 80px;

                input {
                    text-align: center;
                }

                @media (min-width: $media-point) {
                    width: 99px;
                }
            }

            p:first-of-type {
                margin-right: 5px;

                @media (min-width: $media-point) {
                    margin-right: 9px;
                }
            }

            .input-label {
                @media (min-width: $media-point) {
                    margin-right: 5px;
                }
                @media (min-width: 600px) {
                    margin-right: 15px;
                }
                @media (min-width: $point) {
                    margin-right: 0;
                }
            }
        }

        .expire-holder {
            width: 110px;

            p {
                input {
                    padding-left: 20px;
                }
            }

            @media (min-width: $media-point) {
                display: flex;
                align-items: center;
                width: auto;

                span {
                    padding-right: 5px;
                }

                p {
                    width: 143px;
                    text-align: right;
                }
            }

            @media (min-width: $point) and (max-width: 1350px)  {
                display: inline-block;
            }
        }
    }
}
