@import '../../styles/custom/variables';

.login-page {
  padding: 50px 10px;
  text-align: center;

  @media (min-width: 450px) {
    padding: 50px 0;
  }

  @media (min-width: $point) {
    padding: $header-height-desk + 50px 0 100px;
  }

  .form-group-choice {
    display: inline-block;
    margin-top: 14px;
    margin-bottom: 33px;
    transform: translateX(-10px);
    width: 100%;

    .custom-choice {
      white-space: nowrap;
    }
  }

  h1 {
    margin-bottom: 73px;
  }

  form {
    margin-bottom: 30px;
  }
}