// custom and new variables

$brand-primary:             #1dbff0;
$brand-secondary:           #08618d;
$brand-secondary-light:     #1575a5;
$brand-secondary-dark:      #05415e;
$brand-danger:              #db2828;

$blue-light:                #edf6f9;
$gray-light:                #e1e1e1;
$gray-dark:                 #2d2d2d;
$light:                     #fff;
$dark:                      #000;

$green:                     #00FF00;
$yellow_orange:             #ffae42;
$red:                       #FF0000;

$font-family-sans-serif:    Arial, Helvetica, sans-serif;
$font-family-serif:         Helvetica, Arial, sans-serif;
$font-size-root:            18px;

// Media points
$point:                     1025px;
$point-sm:                  1140px;
$point-md:                  1340px;
$point-mlg:                 1410px;
$point-lg:                  1640px;
$tab-point:                 800px;
$sub-nav-point-desk:        1350px;
$point-xs:                  600px;

// Forms
$form-width:                432px;
$form-control-height:       55px;

// Other variables
$header-height:             74px;
$header-height-desk:        50px;

$nav-height:                56px;
$sub-nav-height:            120px;
$sub-nav-height-desk:       93px;

$circle-size:               43px;
$btn-size:                  40px;



