@import '../../../styles/custom/variables';

.user_home_header_text{
  // font-size: 2.2rem;
  color: #08618d;
  font-weight: 500;
  padding: 20px 60px;
  border-top: 2px solid #08618d;
  border-bottom: 2px solid #08618d;
  // box-shadow: 0 0 0 2px #EDF6F9, 0px 0px 0px 4px #5DA5C9;
  box-shadow: 0 0 0 2px #EDF6F9;
}
.user_home_header_text::before{
  border-top: 2px solid #08618d;
  border-bottom: 2px solid #08618d;
}
.user-home-holder {
  padding: 50px 10px 0;

  @media (min-width: $point) {
    padding: $header-height-desk + 66px 10px 0;
  }
  @media (min-width: $point-mlg + 20px) {
    padding: $header-height-desk + 66px 0 0;
  }

  h1 {
    margin-top: -7px;
    margin-bottom: 32px;

    @media (min-width: $point) {
      margin-top: 0;
      margin-bottom: 71px;
    }

    span {
      display: block;

      @media (min-width: $point) {
        display: inline;
      }
    }
  }

  .updates-chat {

    @media (min-width: 800px) {
      display: flex;
      justify-content: space-between;
    }

    h2 {
      background: $brand-secondary;
      color: $light;
      text-align: center;
      font-size: 1.333rem;
      line-height: 60px;

      @media (min-width: $point) {
        font-size: 2rem;
        line-height: 80px;
      }
      @media (min-width: $point-lg) {
        font-size: 2.667rem;
        line-height: 100px;
      }
    }

    > li {
      background: $light;
      margin-bottom: 30px;

      @media (min-width: 800px) {
        width: 49.4%;
        margin-bottom: 53px;
      }
    }
  }
}