@import '../../styles/custom/variables';
@import '../../styles/custom/mixins';

.congratulation-page {
  padding: 33px 10px 36px;
  background: url('../../../assets/images/congratulations.jpg') center / cover;

  .container-md {
    margin-top: $header-height;
  }

  @media (min-width: $point) {
    padding: 40px 10px 62px;
    text-align: center;

    .container-md {
      margin-top: $header-height + 100px;
    }
  }
  @media (min-width: $point-lg + 20px) {
    padding: 40px 0 62px;
  }

  @media (min-height: 880px) {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .congratulations-header {
    text-align: center;
    margin-bottom: 65px;

    @media (min-width: $point) {
      margin-bottom: 50px;
      display: inline-block;
      position: relative;
    }

    .circle-icon {
      @include circle-style($light, 130px, 130px);
      border: 1px solid $brand-secondary;
      margin: 0 auto 21px;

      @media (min-width: $point) {
        margin: 0 30px 0 0;
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
      }

      svg {
        @include circle-icon-dif-sizes(110px, 106px, 94px, 87px);
        transform: translate(5px, -6px);
      }
    }

    .description {
      h2 {
        text-align: center;
        font-size: 1.778rem;
        margin-bottom: 14px;

        @media (min-width: $point) {
          font-size: 2.667rem;
          margin-bottom: 18px;
        }
      }

      p {
        font-weight: 400;
        font-size: 1.111rem;
        line-height: 1.4;
        width: 80%;
        margin: 0 auto;

        @media (min-width: $point) {
          width: 100%;
        }
      }
    }
  }

  .range-container[_ngcontent-c6] {
    margin-bottom: 26px;

    @media (min-width: $point) {
      margin-bottom: 30px;
    }

    .text-top[_ngcontent-c6] {
      margin: 0 0 37px;
    }

    .custom-range-container[_ngcontent-c6] {
      @media (min-width: $point) {
        margin-bottom: -10px;
      }
    }
  }

  .packages-list-holder {
    position: relative;
    padding-top: 56px;

    @media (min-width: $point) {
      padding-top: 38px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 100%;
      height: 4px;
      background: $light;

      @media (min-width: $point) {
        max-width: 698px;
      }
    }

    h3 {
      margin-bottom: 21px;

      @media (min-width: 650px) {
        margin-bottom: 34px;
      }

      span {
        display: block;

        @media (min-width: 650px) {
          display: inline-block;
        }
      }
    }
  }

  .packages-list {
    @media (min-width: 640px) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -5px 20px;
    }
    @media (min-width: $point) {
      flex-wrap: nowrap;
    }

    > li {
      max-width: 400px;
      margin: 0 auto 18px;

      @media (min-width: 640px) {
        max-width: 450px;
        width: 50%;
        padding: 0 5px;
        margin-bottom: 10px;
      }
      @media (min-width: $point) {
        width: 25%;
        margin: 0;
      }
    }
  }

  .btn.btn-md {
    @media (min-width: $point-lg) {
      @include btn-size(365, 85px, 2rem, 42px);
    }
  }
}
